<header>
  <div>
    <% if current_user && current_user.admin %>
    <%= link_to "categories", admin_categories_path %>
    <% end %>
    <h1>WeStore</h1>
    <h2>Welcome to the Wholesale E-Store</h2>

    <h4>Posts</h4>

    <ul>
      <!-- add all the products or postings? check back later and add the link for each product if product.-->
      <% @posts.each do |f|%>
      <li><%=f.title%></li>
      <% end %>
    </ul>

  </div>
</header>
