<header>
  <div>
    <h1>WeStore</h1>
    <h2>Welcome to the Wholesale E-Store</h2>

    <h4>All the products</h4>

    <ul>
      <!-- add all the products or postings? check back later and add the link for each product if product.-->
      

    </ul>

  </div>
</header>
