<h2>Your Posts</h2>

<ul class="posts-list" data-user-id=<%=current_user.id %>>

</ul>


   



<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

  $.get("/users/" + $('ul.posts-list').data('user-id') + "/posts"  + ".json", function(data) {
    // console.log('data', data)
    for (index in data){
      const post = data[index];
      // console.log('post', post)
      $('ul.posts-list').append(
        $('<li>').append(
          $('<a>').attr('href', '/users/'+ post.user_id + '/posts/' + post.id).text(post.title)));
          }
      })
    });
</script>












	
	

  <%= link_to "New post", new_user_post_path%>

